.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}
.App-logo > svg {
  width: 420px;
  height: 420px;
}

.App-header {
  background-color: #212b3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.title-text{
  font-size:50px;
}
.gradient {
  background: linear-gradient(to bottom, #1a6dff 0%, #c822ff 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.square-gradient {
  background: linear-gradient(to bottom, #6dc7ff 0%, #e6abff 100%);
  -webkit-background-clip: text;
  color: transparent;
}

